<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8" http-equiv="Access-Control-Allow-Origin" content="*"/>
    <title>show</title>
</head>
<body>

        

    <div id="box">
        <input type="button" @click="get()" value="按钮" /> 
        <table border="1">
            <tr><td>标号</td><td>时间</td><td>姓名</td><td>email</td><td>电话</td><td>性别</td><td>操作</td></tr>
             <tr v-for="(ps,index) of products">
                 <td th:value="">{{ps.id}}</td>
                 <td>{{ps.create_datetime}}</td>
                 <td>{{ps.username}}</td>
                 <td>{{ps.email}}</td>
                 <td>{{ps.phone}}</td>
                 <td>{{ps.sex}}</td>
                 <td><a href="javascript:;" @click="showOverlay(index)">修改</a> |<a href="javascript:;" @click="del(index)">删除</a></td>
             </tr>
        </table>
        <div v-for="outerVal in sheet">  //sheet
            <div v-for="(middleVal,middleKey) in outerVal">  //List
                {{middleKey.value}}   //title的值
                <div v-for="innerVal in middleKey.course">  //Title
                    {{innerVal}}  //课程值
                </div>
            </div>
        </div>

    </div>
     
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="http://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
    var vue = new Vue({
        el:'#box',
        data:{
        products:[],
        sheet: {
                firstList:{
                    firstTitle: {
                        value: '练习册',
                        course: {
                            lesson1: '物理',
                            lesson2: '化学'
                        }
                    },
                        secondTitle: {
                            value: '课本',
                            course: {
                                lesson1: '物理',
                                lesson2: '化学',
                                lesson3: '生物'
                            }
                        }
                    },
                    secondtList:{
                        firstTitle: {
                            value: '练习册',
                            course: {
                                lesson1: '物理',
                                lesson2: '化学'
                            }
                            },
                            secondTitle: {
                                value: '课本',
                                course: {
                                    lesson1: '物理',
                                    lesson2: '化学',
                                    lesson3: '生物'
                                }
                            }
                        },
                        thirdList:{
                            firstTitle: {
                                value: '练习册',
                                course: {
                                    lesson1: '物理',
                                    lesson2: '化学'
                                }},
                                secondTitle: {
                                    value: '课本',
                                    course: {
                                        lesson1: '物理',
                                        lesson2: '化学',
                                        lesson3: '生物'
                                    }
                                }
                            },
                            fourthtList:{
                                firstTitle: {
                                    value: '练习册',
                                    course: {
                                        lesson1: '物理',
                                        lesson2: '化学'
                                    }},
                                    secondTitle: {
                                        value: '课本',
                                        course: {
                                            lesson1: '物理',
                                            lesson2: '化学',
                                            lesson3: '生物'
                                        }
                                    }
                                }
    }},
        methods: {
            get: function () {
                this.$http.get('http://localhost:8088/testboot/show', {}, {emulateJSON: true})
                    .then(function (res) {
                        alert(res.data);
                        this.products = res.data
                    }, function (res) {
                        console.log(res.status);
                    });
            },
            del: function (index) {
                alert(index);
                this.$http.post('http://localhost:8088/deleteone', {id: index + 1}).then(function (res) {
                    alert("进来了")
                }, function (res) {
                    console.log(res.status);
                });
            }
        }
    })

</script>
</html>